:root {
  scroll-behavior: smooth;

  /* Colors */
  --cl-black: 18, 20, 23; /* #121417 */
  --cl-white: 255, 255, 255; /* #ffffff */
  --cl-gray: 248, 249, 250; /* #f8f9fa */
  --cl-bg-gray: 243, 245, 246; /* #f3f5f6 */

  --cl-green: 77, 194, 116; /* #4dc274 */
  --cl-green-hover: 56, 174, 95; /* #38ae5f */
  --cl-light-green: 212, 253, 225; /* #d4fde1 */
  --cl-light-green-accent: 190, 232, 204; /* #bce8cc */

  --cl-green-linear: linear-gradient(
    85deg,
    rgb(var(--cl-green)) 2.25%,
    #bee8cc 131.25%
  );

  --cl-red: 220, 53, 69; /* #dc3545 */

  /* Sizes */
  --indent-col: 32px;
  --indent-row: var(--indent-col);
  --items: 2;

  /* Position */
  --header-depth: 10;
  --backdrop-depth: 11;

  /* Transitions */
  --fast-trns: 300ms ease;
}
