@keyframes advantages-wave {
  0%,
  100% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

@keyframes advantages-wave-reverse {
  0%,
  100% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
}
