.line {
  border-top: 1px solid rgba(var(--cl-white), 0.1);
  width: 100%;
}

.footer {
  background-color: rgb(var(--cl-black));
  color: rgb(var(--cl-white));
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-box-main {
  display: flex;
  padding: 64px 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1279.6px) {
  .footer-box-main {
    padding-top: 32px;
    padding-bottom: 110px;
  }
}

@media only screen and (max-width: 767.6px) {
  .footer-box-main {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    gap: 40px;
  }
}

.footer-contacts {
  margin-right: 316px;
}

@media only screen and (max-width: 1279.6px) {
  .footer-contacts {
    margin-right: 152px;
  }
}

.footer-adress-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-adress-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.footer-address-text {
  color: rgba(var(--cl-white), 0.6);
  line-height: 18px;
  letter-spacing: -0.02em;
  font-size: 14px;
}

.footer-adress-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
}

.footer-logo {
  display: block;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 767.6px) {
  .footer-logo {
    margin-bottom: 20px;
  }
}

.logo-accent {
  color: rgb(var(--cl-green))
}

.footer-nav {
  display: block;
}

@media only screen and (max-width: 767.6px) {
  .footer-nav {
    margin-bottom: 40px;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media only screen and (max-width: 767.6px) {
  .footer-links {
    flex-direction: column;
  }
}


.footer-box-policy {
  padding: 23px 0;
  color: rgba(var(--cl-white), 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.footer-box-policy {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 767.6px) {
  .footer-box-policy {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding: 20px 0;
  }
}

.policy {
  margin-right: 18px;
}