.lessons {
  .lessons-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 16px;
    border: 1px solid rgb(var(--cl-green));
    border-radius: 12px;
    color: #121417;
    text-align: center;
  }

  .card h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  .card span {
    display: inline-block;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 32px;
    font-weight: 700;
  }

  .card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: rgba(18, 20, 23, 0.5);
  }

  .card a {
    display: inline-block;
    padding: 16px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
    color: #fff;
    background-color: rgb(var(--cl-green));
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid rgb(var(--cl-green));
  }

  .card a:hover {
    background-color: #d9f7e0;
    color: rgb(var(--cl-green));
  }

  .standard-card {
    background-color: rgb(var(--cl-green));
    color: #fff;
  }

  .standard-card p {
    color: rgba(255, 255, 255, 0.7);
  }

  .standard-card a {
    border-color: rgba(255, 255, 255, 0.4);
  }

  .standard-card a:hover {
    background-color: #d9f7e0;
    color: rgb(var(--cl-green));
  }

  /* Tablet (768px and above) */
  @media (min-width: 768px) {
    .lessons-card {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .card {
      max-width: 336px;
    }
  }

  /* Desktop (1280px and above) */
  @media (min-width: 1280px) {
    .lessons-card {
      justify-content: space-between;
    }

    .card {
      max-width: 320px;
      width: 100%;
      padding: 32px;
    }
  }
}
