/* General styles for the mobile menu backdrop */
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--cl-black), 0.5);
  z-index: 8;
}

/* Mobile menu container */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 240px; 
  height: 100vh; 
  background-color: rgb(var(--cl-green)); 
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;
}
.mobile-menu-container{
  height: inherit;
}

.backdrop.is-active {
  display: block;
}

.mobile-menu.is-active {
  transform: translateX(0);
}

/* Close button */
.mobile-menu-close {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mobile-menu-close svg {
  stroke: rgb(var(--cl-white));
  width: 32px;
  height: 32px;
}

/* Navigation styles */
.mobile-menu-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 248px;
 
}

.mobile-menu-nav-list {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.mobile-menu-nav-item {
  margin-bottom: 20px;
}

.mobile-menu-nav-item a {
  display: block;
  text-decoration: none;
  color: rgb(var(--cl-white));
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  align-self: center;
}

/* Social media icons */
.mobile-menu-social {
  list-style: none;
  padding: 20px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}


.mobile-menu-social-link svg {
  fill: rgb(var(--cl-white));
  border: 1px solid rgba(var(--cl-white), 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 8px;

  transition: transform 0.3s ease-in-out;
}

.mobile-menu-social-link:hover svg {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 384px;
  }

  .mobile-menu-social{
    padding: 20px 114px;
  }
}

