.nav-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}
.header-nav {
  display: none;
}
.nav-item {
}
.nav-link {
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
}

@media screen and (min-width: 1280px) {
  .header-nav {
    display: block;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #121417;
  }

  .header-nav-list .nav-item {
    position: relative;
    overflow: hidden;
  }
  .header-nav-list .nav-item::after {
    content: '';
    position: absolute;
    width: 37px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4dc274;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  .header-nav-list .nav-item:hover::after {
    transform: translateX(0%);
  }
}
