<section class="about">
  <div class="container">
    <h2 class="about-title">
      About <span class="section-title-accent">Us</span>
    </h2>
    <p class="about-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-grid-container">
      <div class="about-item about-1">
        <h3 class="about-item-title">01</h3>
        <p class="about-item-description">Expert, innovative teaching staff</p>
      </div>
      <div class="about-item about-2">
        <h3 class="about-item-title">02</h3>
        <p class="about-item-description">
          Wide range of course levels and options
        </p>
      </div>
      <div class="about-item about-3">
        <h3 class="about-item-title">03</h3>
        <p class="about-item-description">Multicultural learning environment</p>
      </div>
      <div class="about-item about-4">
        <h3 class="about-item-title">04</h3>
        <p class="about-item-description">
          Comprehensive language support services
        </p>
      </div>
      <div class="about-item about-image">
        <img
          class="about-list-item-img"
          srcset="
            ../public/images/about-list-item-img.png    1x,
            ../public/images/about-list-item-img@2x.png 2x
          "
          src="../public/images/about-list-item-img.png"
          alt="Smiling girl"
          width="255"
          height="172"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
