<section class="about section" id="about">
  <div class="container">
    <h2 class="section-title">
      About <span class="section-title-accent">Us</span>
    </h2>
    <p class="about-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment.
    </p>
    <ul class="about-grid-container">
      <li class="about-item about-1">
        <h3 class="about-item-title">01</h3>
        <p class="about-item-description">Expert, innovative teaching staff</p>
      </li>
      <li class="about-item about-2">
        <h3 class="about-item-title">02</h3>
        <p class="about-item-description">
          Wide range of course levels and options
        </p>
      </li>
      <li class="about-item about-3">
        <h3 class="about-item-title">03</h3>
        <p class="about-item-description">Multicultural learning environment</p>
      </li>
      <li class="about-item about-4">
        <h3 class="about-item-title">04</h3>
        <p class="about-item-description">
          Comprehensive language support services
        </p>
      </li>
      <li class="about-item about-image">
        <img
          class="about-list-item-img"
          srcset="
            ./img/webp/about-section/about-list-item-img.webp    1x,
            ./img/webp/about-section/about-list-item-img@2x.webp 2x
          "
          src="./img/webp/about-section/about-list-item-img.webp"
          alt="A smiling girl"
          loading="lazy"
          width="254"
          height="211"
        />
      </li>
    </ul>
  </div>
</section>
