<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-box-main">
      <div class="footer-contacts">
        <a href="/" class="logo footer-logo"
          >english<span class="logo-accent">excellence</span>.
        </a>
        <address class="footer-adress">
          <ul class="footer-adress-list">
            <li class="footer-adress-item">
              <p class="footer-address-text">Phone number:</p>
              <a
                class="footer-adress-link"
                href="tel:+380684439426"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >+380 (68) 443-94-26</a>
            </li>
            <li class="footer-adress-item">
              <p class="footer-address-text">Address:</p>
              <a
                class="footer-adress-link"
                href="http://maps.google.com/?q=Mykoly+Bazhana+Ave,+32А,+Kyiv,+Ukraine,+02000"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-links">
        <nav class="footer-nav">
          <load src="partials/nav.html" place="footer-nav-list" />
        </nav>
        <load src="partials/socials.html" place="footer-socials" />
      </div>
    </div>
    <div class="line"></div>
    <div class="footer-box-policy">
      <p>©2023  English Excellence. All rights reserved.</p>
      <div class="footer-policy-container">
        <a href="" class="policy">Privacy Policy</a>
        <a href="" class="conditions">Terms of Service</a>
      </div>
    </div>  
  </div>
</footer>
