<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="#">english<span class="logo-accent">excellence</span>.</a>
    </div>
    <nav class="header-nav">
      <load src="partials/nav.html" place="header-nav-list" />
    </nav>
    <div class="header-socials-wraper">
      <load src="partials/socials.html" place="header-socials" />
    </div>
    <button
      class="burger-button js-burger-button"
      type="button"
      aria-level="Open mobile menu"
    >
      <svg class="burger-button-icon mobile-icon" width="32" height="32">
        <use href="img/icons.svg#mob-menu"></use>
      </svg>
      <svg class="burger-button-icon tablet-icon" width="40" height="28">
        <use href="img/icons.svg#mob-menu"></use>
      </svg>
    </button>
  </div>
</header>
