<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="light-green">English</span> with us!
      </h1>
      <div class="hero-wrapper">
        <div class="hero-controls">
          <button class="hero-button" type="button">
            Leave an application
          </button>
        </div>
        <a class="hero-link" href="#">
          <span class="hero-link-icon">
            <svg width="" height="">
              <use href=""></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="bg-image">
      <picture>
        <!-- Desk screen -->
        <source media="" srcset="" />
        <!-- Tablet screen -->
        <source media="" srcset="" />
        <!-- Mobile screen -->
        <source media="" srcset="" />

        <source media="" srcset="" />

        <img class="" src="" alt="" />
      </picture>
    </div>
  </div>
</section>
