<section class="hero">
  <div class="container container-hero">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="light-green">English</span> with us!
      </h1>
      <div class="hero-wrapper">
        <div class="hero-controls">
          <a href="#contact">
            <button class="hero-button" type="button">
              Leave an application
            </button>
          </a>
        </div>
        <a class="hero-link" href="#footer">
          <span class="hero-link-icon">
            <svg width="32" height="32">
              <use href="./img/icons.svg#arrow-down"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="bg-image">
      <picture>
        <!-- Desk screen -->
        <source
          media="(min-width: 1168px) and (orientation: landscape)"
          srcset="
            ./img/webp/hero/desk@1x.webp 1x,
            ./img/webp/hero/desk@2x.webp 2x
          "
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px) and (max-width: 1167px) and (orientation: portrait)"
          srcset="./img/webp/hero/tab@1x.webp1x, ./img/webp/hero/tab@2x.webp2x"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px) and (orientation: landscape)"
          srcset="
            ./img/webp/hero/desk@1x.webp 1x,
            ./img/webp/hero/desk@2x.webp 2x
          "
        />

        <source
          media="(max-width: 767px) and (orientation: portrait)"
          srcset="
            ./img/webp/hero/mob@1x.webp 1x,
            ./img/webp/hero/mob@2x.webp 2x
          "
        />

        <img
          src="/img/webp/hero/mob@1x.jpg"
          alt="Smiling girl learning English"
        />
      </picture>
    </div>
  </div>
</section>
