<section id="hero" class="section-hero">
  <div class="container container-hero">
    <div class="hero-background-box">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="light-green">English</span> with us!
      </h1>
      <div class="hero-controls">
        <a href="#contact" class="hero-button"> Leave an application </a>
      </div>
      <a class="hero-link" href="#footer" aria-label="Scroll to footer">
        <svg class="hero-link-icon" width="24" height="24">
          <use href="./img/icons.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
