<section class="lessons section" id="lessons">
  <div class="container">
    <h2 class="section-title">
      Our <span class="section-title-accent">lessons</span>
    </h2>
    <p class="reviews-descr">Our lessons are carefully structured and interactive, designed to promote rapid language acquisition through practical tasks and real-world scenarios</p>
    <ul class="lessons-card">
      <li class="card">
          <div>
              <h3>Practice</h3>
              <span>40$ / month</span>
              <p>This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English.</p>
          </div>
          <a href="#contact">Leave an application</a>
      </li>
      <li class="card standard-card">
          <div>
              <h3>Standard</h3>
              <span>70$ / month</span>
              <p>Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills.</p>
          </div>
          <a href="#contact">Leave an application</a>
      </li>
      <li class="card">
          <div>
              <h3>Individual</h3>
              <span>99$ / month</span>
              <p>We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback.</p>
          </div>
          <a href="#contact">Leave an application</a>
      </li>
    </ul>
  </div>
</section>
