<div class="backdrop">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" aria-label="Close menu">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="../img/icons.svg#close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">About us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Our lessons</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Teachers</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Teachers</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Contact us</a>
          </li>
        </ul>

        <ul class="mobile-menu-social">
          <li class="mobile-menu-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="mobile-menu-social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="mobile-menu-social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="mobile-menu-social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="YouTube"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
