<div class="backdrop">
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" aria-label="Close menu">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="../img/icons.svg#close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">About us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Our lessons</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Teachers</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Teachers</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-link">Contact us</a>
          </li>
        </ul>

       <!-- Socials component -->
        <load src="partials/socials.html" place="mobile-menu-socials" />
      </nav>
    </div>
  </div>
</div>
