<ul class="socials {=$place}">
  <li class="social-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook"
    >
      <svg class="social-icon-sm" width="26" height="26">
        <use href="img/icons.svg#facebook"></use>
      </svg>
      <svg class="social-icon-md" width="28" height="28">
        <use href="img/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      href="https://www.instagram.com/goitclub/"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      <svg class="social-icon-sm" width="26" height="26">
        <use href="img/icons.svg#instagram"></use>
      </svg>
      <svg class="social-icon-md" width="28" height="28">
        <use href="img/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="YouTube"
    >
      <svg class="social-icon-sm" width="26" height="26">
        <use href="img/icons.svg#youtube"></use>
      </svg>
      <svg class="social-icon-md" width="28" height="28">
        <use href="img/icons.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
