<section class="teachers section">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="section-title-accent">teachers</span>
    </h2>
    <p class="teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teacher-list card-set">
      <li class="teacher-card card-set-item">
        <div class="teacher-image-box">
          <img
            srcset="
              ./img/webp/teachers/img-1-maria.webp    1x,
              ./img/webp/teachers/img-1-maria@2x.webp 2x
            "
            src="./img/webp/teachers/img-1-maria.webp"
            alt="Maria"
            width="150"
            height="150"
          />
        </div>
        <div class="teacher-text">
          <h3 class="teacher-name">Maria</h3>
          <p class="teacher-description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>

      <li class="teacher-card card-set-item">
        <div class="teacher-image-box">
          <img
            srcset="
              ./img/webp/teachers/img-2-artem.webp    1x,
              ./img/webp/teachers/img-2-artem@2x.webp 2x
            "
            src="./img/webp/teachers/img-2-artem.webp"
            alt="Artem"
            width="150"
            height="150"
          />
        </div>
        <div class="teacher-text">
          <h3 class="teacher-name">Artem</h3>
          <p class="teacher-description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>

      <li class="teacher-card card-set-item">
        <div class="teacher-image-box">
          <img
            srcset="
              ./img/webp/teachers/img-3-ilona.webp    1x,
              ./img/webp/teachers/img-3-ilona@2x.webp 2x
            "
            src="./img/webp/teachers/img-3-ilona.webp"
            alt="Ilona"
            width="150"
            height="150"
          />
        </div>
        <div class="teacher-text">
          <h3 class="teacher-name">Ilona</h3>
          <p class="teacher-description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>

      <li class="teacher-card card-set-item">
        <div class="teacher-image-box">
          <img
            srcset="
              ./img/webp/teachers/img-4-volodymyr.webp    1x,
              ./img/webp/teachers/img-4-volodymyr@2x.webp 2x
            "
            src="./img/webp/teachers/img-4-volodymyr.webp"
            alt="Volodymyr"
            width="150"
            height="150"
          />
        </div>
        <div class="teacher-text">
          <h3 class="teacher-name">Volodymyr</h3>
          <p class="teacher-description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
