<section class="teachers">
  <div class="container">
    <h2>Meet our teachers</h2>
    <p class="teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teacher-list">
      <li class="teacher-card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/teachers/img-1-maria_desc.webp    1x,
              ./img/webp/teachers/img-1-maria_desc@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/teachers/img-1-maria_tab.webp    1x,
              ./img/webp/teachers/img-1-maria_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/webp/teachers/img-1-maria_mob.webp    1x,
              ./img/webp/teachers/img-1-maria_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/teachers/img-1-maria_mob.webp"
            alt="Maria"
            width="150"
            height="150"
          />
        </picture>
        <div class="teacher-text">
          <h3 class="teacher-name">Maria</h3>
          <p class="teacher-description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>

      <li class="teacher-card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/teachers/img-2-artem_desc.webp    1x,
              ./img/webp/teachers/img-2-artem_desc@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/teachers/img-2-artem_tab.webp    1x,
              ./img/webp/teachers/img-2-artem_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/webp/teachers/img-2-artem_mob.webp    1x,
              ./img/webp/teachers/img-2-artem_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/teachers/img-2-artem_mob.webp"
            alt="Artem"
            width="150"
            height="150"
          />
        </picture>
        <div class="teacher-text">
          <h3 class="teacher-name">Artem</h3>
          <p class="teacher-description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>

      <li class="teacher-card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/teachers/img-3-ilona_desc.webp    1x,
              ./img/webp/teachers/img-3-ilona_desc@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/teachers/img-3-ilona_tab.webp    1x,
              ./img/webp/teachers/img-3-ilona_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/webp/teachers/img-3-ilona_mob.webp    1x,
              ./img/webp/teachers/img-3-ilona_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/teachers/img-3-ilona_mob.webp"
            alt="Ilona"
            width="150"
            height="150"
          />
        </picture>
        <div class="teacher-text">
          <h3 class="teacher-name">Ilona</h3>
          <p class="teacher-description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>

      <li class="teacher-card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/webp/teachers/img-4-volodymyr_desc.webp    1x,
              ./img/webp/teachers/img-4-volodymyr_desc@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/webp/teachers/img-4-volodymyr_tab.webp    1x,
              ./img/webp/teachers/img-4-volodymyr_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/webp/teachers/img-4-volodymyr_mob.webp    1x,
              ./img/webp/teachers/img-4-volodymyr_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/webp/teachers/img-4-volodymyr_mob.webp"
            alt="Volodymyr"
            width="150"
            height="150"
          />
        </picture>
        <div class="teacher-text">
          <h3 class="teacher-name">Volodymyr</h3>
          <p class="teacher-description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
